
<ul>

<% if current_user.id == params[:id].to_i %>
	<h2>Name: <%= current_user.name %> </h2>
	<p>Happiness Level: <%= current_user.happiness %> </p>
	<p>Free Time: <%= current_user.free_time %> hours </p>	
	<ul> 
<% current_user.playlists.each do |p| %>
	
		<li><strong> Playlist Created At: <%= link_to "#{p.created_at}",  user_playlist_path(current_user, p) %> </li>
	
<% end %>
<ul> 

</ul>
<% else %>
	You don't have access to view this page
<% end %>

