

<h1>TV Show Picker</h1>


<% if notice %>
  <p><%= notice %></p>
<% end %>

<%= render partial: 'moods/moods_index', locals: {moods: @moods} %>
<%= render partial: 'tvshows/index', locals: {tvshows: @tvshows} %>