<nav class="">
    <ul>
        <li> <%= link_to "Playlister Home", store_path %> </li>
        <% if current_user && current_user.current_playlist %>
          <li> <%= link_to "Playlist", playlist_path(current_user.current_playlist) %></li>
        <% end %>
        <%= render partial: 'layouts/sign_in' %>
    </ul>
</nav>
